.homePage {
    display: flex;
    flex-direction: column;
}

.bannerWrapper {
    position: sticky;
    top: 64px;
    z-index: -1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.mainWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 770px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.4);
    margin-top: 25px;
}