/* Carousel.module.css */
.carouselContainer {
    position: relative;
    overflow: hidden;
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
  
.carouselInner {
    display: flex;
    width: 100%; /* Adjust the width to control the size */
    height: auto;
    transition: transform 0.5s ease-in-out;
}
  
.carouselItem {
    display: flex;
    flex: 0 0 50%; /* Each item takes up the full width */
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    text-align: center;
    transition: opacity 0.5s ease;
}

.itemBox {
    border: 1px solid #ccc;
    padding: 25px;
    height: 450px;
    width: 450px;
}

.imageWrapper {
    height: 250px;
}
    
.imageWrapper img {
    width: auto;
    height: auto;
    max-height: 250px;
}
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    color: #072E13;
}
  
.arrow:hover {
    color: #555;
}
  
.arrow:first-child {
    left: 10px;
}
  
.arrow:last-child {
    right: 10px;
}

@media (max-width: 1817px) {

    .carouselItem {
        flex: 0 0 50%;
    }
}